.profile-info {
  grid-area: info;
  margin: 0 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1px, max-content));
  gap: 16px 18px;
}

@media screen and (max-width: 1003px) {
  .profile-info {
    grid-template-columns: 1fr fit-content(226px) 1fr;
    margin: 26px 0 36px;
    gap: 14px 10px;
  }
}