.popup__close-icon {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  background: transparent url("../../../images/close-icon.svg") no-repeat;
  background-size: cover;
}

.popup__close-icon:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 738px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
