.profile__add-button {
  grid-area: button;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../../images/plus.svg") no-repeat center;
  box-sizing: border-box;
  transition: opacity 0.2s linear;
}

.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 1003px) {
  .profile__add-button {
    width: 282px;
  }
}