.header__auth {
  display: flex;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}